.stauts-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}

.stauts-bar__coulmn {
  width: 33%;
}
.stauts-bar__coulmn:first-child span {
  margin-right: 5px;
}
.stauts-bar__coulmn:nth-child(2) {
  display: flex;
  justify-content: center;
}
.stauts-bar__coulmn:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.stauts-bar__coulmn .fa-battery-half {
  margin: 0px 5px;
}
